label {
    display: block;
    margin-top: 10px;
}

form {
    border-radius: 10px;
    width: 300px;
    margin: auto;
    margin-top: 50px;
    border: 1px rgb(39, 39, 39) solid;
    padding: 10px;
    background-color: grey;

}

form:hover {
    border: 5px;

}

/*definindo o tipo do input que quero aplicar o css*/
input[type="button"] {
    display: block;
    width: 100px;
    margin: auto;
    margin-top: 10px;
    background-color: royalblue;
    border-radius: 10px;
    transition-duration: 5ms;
}

input[type="button"]:hover {
    background-color: greenyellow;
    border-radius: 10px;
    width: 125px;
}

/*definindo o tipo do input que quero aplicar o css*/
input[type="text"] {
    width: 90%;
}

span {
    display: block;
}

.errorMsg {
    color: red;
    font-size: 10px;

}

body {
    background-color: rgb(41, 40, 40);
}

.NaLinha {
    display: inline;
}